# AIOE ê³„ì‚° êµ¬í˜„

ì´ ë…¸íŠ¸ë¶ì—ì„œëŠ” ì „ì²˜ë¦¬ëœ ë°ì´í„°ë¥¼ ì‚¬ìš©í•˜ì—¬ ê° ì§ì—…ì˜ **AI Occupational Exposure (AIOE)** ì ìˆ˜ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.

## AIOEë€?

AIOEëŠ” íŠ¹ì • ì§ì—…ì´ AI ê¸°ìˆ (íŠ¹íˆ Language Modeling)ì— ì–¼ë§ˆë‚˜ ë…¸ì¶œë˜ì–´ ìˆëŠ”ì§€ë¥¼ ì¸¡ì •í•˜ëŠ” ì§€í‘œì…ë‹ˆë‹¤.
- **ë†’ì€ AIOE**: AIê°€ í•´ë‹¹ ì§ì—…ì˜ ë§ì€ ëŠ¥ë ¥ì„ ëŒ€ì²´í•˜ê±°ë‚˜ ë³´ì™„í•  ìˆ˜ ìˆìŒ
- **ë‚®ì€ AIOE**: AIê°€ í•´ë‹¹ ì§ì—…ì˜ ëŠ¥ë ¥ì„ ëŒ€ì²´í•˜ê¸° ì–´ë ¤ì›€

In [567]:
import pandas as pd
import numpy as np
from scipy import stats

In [568]:
# ë°ì´í„° ê²½ë¡œ ì„¤ì •
PROCESSED_DIR = '../datas/processed'

## 1. ì „ì²˜ë¦¬ëœ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

### ì´ì „ ë‹¨ê³„ì—ì„œ ìš°ë¦¬ê°€ ë§Œë“  ë°ì´í„°

01ë²ˆ ë…¸íŠ¸ë¶ì—ì„œ ìš°ë¦¬ëŠ” 2ê°œì˜ ë°ì´í„°ë¥¼ í•©ì³ì„œ í•˜ë‚˜ì˜ íŒŒì¼ì„ ë§Œë“¤ì—ˆìŠµë‹ˆë‹¤:
- **O*NET Abilities**: 894ê°œ ì§ì—… Ã— 52ê°œ ëŠ¥ë ¥ì˜ Importance, Level
- **MTurk ë§¤í•‘**: 52ê°œ ëŠ¥ë ¥ì˜ Beta ê°’ (AI ì˜í–¥ë„)

**ìµœì¢… ë°ì´í„° êµ¬ì¡°:**
- **46,488ê°œ í–‰** (894 ì§ì—… Ã— 52 ëŠ¥ë ¥)
- **6ê°œ ì»¬ëŸ¼**: SOC_Code, Title, Ability, Importance, Level, Beta

**ì´ì œ í•  ì¼:**
ì´ ë°ì´í„°ë¥¼ ì‚¬ìš©í•´ì„œ ê° ì§ì—…ì˜ **AIOE ì ìˆ˜ë¥¼ ê³„ì‚°**í•©ë‹ˆë‹¤.
- ì…ë ¥: 46,488ê°œ í–‰ (ì§ì—…-ëŠ¥ë ¥ ì¡°í•©)
- ì¶œë ¥: 894ê°œ í–‰ (ì§ì—…ë³„ AIOE ì ìˆ˜)

In [569]:
# ì „ì²˜ë¦¬ëœ ë°ì´í„° ë¡œë“œ
df = pd.read_csv(f'{PROCESSED_DIR}/preprocessed_data.csv')

print(f"âœ… ë°ì´í„° ë¡œë“œ ì™„ë£Œ: {df.shape[0]:,}í–‰ Ã— {df.shape[1]}ì»¬ëŸ¼, {df['soc_code'].nunique()}ê°œ ì§ì—…")

âœ… ë°ì´í„° ë¡œë“œ ì™„ë£Œ: 46,488í–‰ Ã— 6ì»¬ëŸ¼, 894ê°œ ì§ì—…

## 2. AIOE ê³„ì‚° ì•„ì´ë””ì–´

### ìš°ë¦¬ê°€ í•´ê²°í•˜ë ¤ëŠ” ë¬¸ì œ

**ì§ˆë¬¸:** "ì†Œí”„íŠ¸ì›¨ì–´ ê°œë°œìê°€ AIì— ì–¼ë§ˆë‚˜ ë…¸ì¶œë˜ì–´ ìˆì„ê¹Œ?"

**ê°€ì§€ê³  ìˆëŠ” ì •ë³´:**
1. ì†Œí”„íŠ¸ì›¨ì–´ ê°œë°œìì—ê²Œ í•„ìš”í•œ 52ê°œ ëŠ¥ë ¥ (Importance, Level)
2. AIê°€ ê° ëŠ¥ë ¥ì„ ì–¼ë§ˆë‚˜ ì˜í•˜ëŠ”ì§€ (Beta)

### ê³„ì‚° ì•„ì´ë””ì–´

**í•µì‹¬ ì§ˆë¬¸:**
> "ì „ì²´ ëŠ¥ë ¥ ì¤‘ì—ì„œ AIê°€ ë„ì™€ì¤„ ìˆ˜ ìˆëŠ” ëŠ¥ë ¥ì´ ì°¨ì§€í•˜ëŠ” ë¹„ì¤‘ì€?"

**ì‹¤ì œ Software Developers ë°ì´í„° 5ê°œë¡œ ì‚´í´ë´…ì‹œë‹¤:**

| ëŠ¥ë ¥ (í•œêµ­ì–´) | Importance | Level | Scalar<br/>(= I Ã— L) | Beta | ê°€ì¤‘ ì˜í–¥ë„<br/>(= Scalar Ã— Beta) |
|--------------|-----------|-------|---------|------|------------------|
| ë“£ê³  ì´í•´í•˜ê¸°<br/>(Oral Comprehension) | 3.75 | 4.12 | **15.45** | 0.906 | 13.998 |
| ê¸€ ì½ê³  ì´í•´í•˜ê¸°<br/>(Written Comprehension) | 3.75 | 4.38 | **16.425** | 0.827 | 13.584 |
| ë§ë¡œ í‘œí˜„í•˜ê¸°<br/>(Oral Expression) | 3.75 | 4.12 | **15.45** | 0.906 | 13.998 |
| ê¸€ë¡œ í‘œí˜„í•˜ê¸°<br/>(Written Expression) | 3.50 | 4.00 | **14.00** | 0.848 | 11.872 |
| ì•„ì´ë””ì–´ ë– ì˜¬ë¦¬ê¸°<br/>(Fluency of Ideas) | 3.25 | 3.62 | **11.765** | 0.717 | 8.436 |
| **5ê°œ ëŠ¥ë ¥ í•©ê³„** | - | - | **73.09** | - | **61.888** |

**ì»¬ëŸ¼ ì˜ë¯¸:**
1. **Importance**: ì´ ëŠ¥ë ¥ì´ ì§ì—…ì—ì„œ ì–¼ë§ˆë‚˜ ì¤‘ìš”í•œê°€ (1~5 ì²™ë„)
2. **Level**: ì´ ëŠ¥ë ¥ì´ ì–¼ë§ˆë‚˜ ë†’ì€ ìˆ˜ì¤€ì„ ìš”êµ¬í•˜ëŠ”ê°€ (0~7 ì²™ë„)
3. **Scalar** (I Ã— L): ëŠ¥ë ¥ì˜ ê°€ì¤‘ì¹˜ (ì¤‘ìš”ë„ Ã— ìˆ˜ì¤€)
4. **Beta**: AIê°€ ì´ ëŠ¥ë ¥ì„ ì–¼ë§ˆë‚˜ ì˜í•˜ëŠ”ê°€ (0~1, MTurk ë°ì´í„°)
5. **ê°€ì¤‘ ì˜í–¥ë„** (Scalar Ã— Beta): AIê°€ ì´ ëŠ¥ë ¥ì—ì„œ ë„ì™€ì¤„ ìˆ˜ ìˆëŠ” ì •ë„

**ì§ì ‘ ê³„ì‚°í•´ë³¼ê¹Œìš”?**
- ë“£ê³  ì´í•´í•˜ê¸° Scalar = 3.75 Ã— 4.12 = **15.45** 
- ê°€ì¤‘ ì˜í–¥ë„ = 15.45 Ã— 0.906 = **13.998** 

**5ê°œ ëŠ¥ë ¥ë§Œìœ¼ë¡œ AIOEë¥¼ ê³„ì‚°í•˜ë©´:**
- AIOE = 61.888 Ã· 73.09 = **0.847 (84.7%)**
- ì´ 5ê°œ ëŠ¥ë ¥ë§Œ ë³´ë©´ AIê°€ 84.7% ë„ì™€ì¤„ ìˆ˜ ìˆë‹¤ëŠ” ì˜ë¯¸

**ê·¸ëŸ°ë° ë¬¸ì œê°€ ìˆìŠµë‹ˆë‹¤!**
- ImportanceëŠ” 1~5 ì²™ë„, Levelì€ 0~7 ì²™ë„
- ì„œë¡œ ë‹¤ë¥¸ ì²™ë„ë¥¼ ê³±í•˜ë©´ ê³µì •í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤
- **í•´ê²°ì±…**: ë‹¤ìŒ ë‹¨ê³„ì—ì„œ 0~1ë¡œ ì •ê·œí™”í•©ë‹ˆë‹¤

**ì‹¤ì œë¡œëŠ” 52ê°œ ëŠ¥ë ¥ ì „ì²´ë¥¼ ì‚¬ìš©:**
- ìœ„ ì˜ˆì‹œëŠ” ì´í•´ë¥¼ ë•ê¸° ìœ„í•œ 5ê°œë§Œ ì„ íƒ
- ì‹¤ì œ ê³„ì‚°ì—ì„œëŠ” 52ê°œ ëŠ¥ë ¥ ëª¨ë‘ ì‚¬ìš©
- í•˜ì§€ë§Œ ê³„ì‚° ë°©ì‹ì€ ë™ì¼í•©ë‹ˆë‹¤!

### ê³„ì‚° ìˆœì„œ (5ë‹¨ê³„)

ìš°ë¦¬ëŠ” ì´ì œ **ë‹¨ê³„ë³„ë¡œ** ê³„ì‚°í•´ ë‚˜ê°ˆ ê²ƒì…ë‹ˆë‹¤:

1. **ì •ê·œí™”**: ì„œë¡œ ë‹¤ë¥¸ ì²™ë„ë¥¼ 0-1ë¡œ í†µì¼
2. **Scalar ê³„ì‚°**: ì •ê·œí™”ëœ ê°’ìœ¼ë¡œ ëŠ¥ë ¥ ê°€ì¤‘ì¹˜ ê³„ì‚°
3. **ê°€ì¤‘ ì˜í–¥ë„ ê³„ì‚°**: ê° ëŠ¥ë ¥ì—ì„œ AIì˜ ê¸°ì—¬ë„
4. **ì§ì—…ë³„ ì§‘ê³„**: 52ê°œ ëŠ¥ë ¥ì„ ëª¨ë‘ í•©ì‚°
5. **í‘œì¤€í™”**: ë‹¤ë¥¸ ì§ì—…ê³¼ ë¹„êµ ê°€ëŠ¥í•˜ë„ë¡ ë³€í™˜

**ì§€ê¸ˆì€ ë³µì¡í•´ ë³´ì´ì§€ë§Œ, í•œ ë‹¨ê³„ì”© ê°™ì´ í•´ë³¼ê²Œìš”!**

---

## 3. Step 1: Importanceì™€ Levelì„ 0-1 ë²”ìœ„ë¡œ ë³€í™˜í•˜ê¸°

### ì™œ ë³€í™˜ì´ í•„ìš”í•œê°€ìš”?

**í˜„ì¬ ë¬¸ì œ:**
- Importance: 1~5 ì²™ë„
- Level: 0~7 ì²™ë„
â†’ **ì„œë¡œ ë‹¤ë¥¸ ì²™ë„ë¥¼ ê³±í•˜ë©´ ê³µì •í•˜ì§€ ì•ŠìŒ!**

**í•´ê²°ì±…: ì •ê·œí™” (Normalization)**
- Importance: ì›ë˜ ê°’ Ã· 5  (ì˜ˆ: 3.5 â†’ 0.70)
- Level: ì›ë˜ ê°’ Ã· 7  (ì˜ˆ: 3.88 â†’ 0.55)

**ê²°ê³¼:**
- ëª¨ë“  ê°’ì´ 0~1 ì‚¬ì´ë¡œ ë³€í™˜
- ê³µì •í•œ ë¹„êµ ê°€ëŠ¥
- 0 = ìµœì†Œ, 1 = ìµœëŒ€

In [ ]:
# TODO: Importanceì™€ Levelì„ 0-1 ë²”ìœ„ë¡œ ì •ê·œí™”í•˜ì„¸ìš”
#
# íŒíŠ¸ 1: ImportanceëŠ” 1-5 ì²™ë„ì´ë¯€ë¡œ 5ë¡œ ë‚˜ëˆ„ê¸°
# íŒíŠ¸ 2: Levelì€ 0-7 ì²™ë„ì´ë¯€ë¡œ 7ë¡œ ë‚˜ëˆ„ê¸°
# íŒíŠ¸ 3: ìƒˆ ì»¬ëŸ¼ëª…ì€ scale_importance, scale_level
#
# ìƒˆ ì»¬ëŸ¼ëª…: scale_importance, scale_level

# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”

In [571]:
# ë³€í™˜ ê²°ê³¼ í™•ì¸
df[df['title'] == 'Software Developers'][
    ['ability', 'importance', 'scale_importance', 'level', 'scale_level']
].head()

                    ability  importance  scale_importance  level  scale_level
5824     Oral Comprehension        3.75              0.75   4.12     0.588571
5825  Written Comprehension        3.75              0.75   4.38     0.625714
5826        Oral Expression        3.75              0.75   4.12     0.588571
5827     Written Expression        3.50              0.70   4.00     0.571429
5828       Fluency of Ideas        3.25              0.65   3.62     0.517143

In [572]:
df[df['title'] == 'Software Developers'][
    ['scale_importance', 'scale_level']
].describe()

       scale_importance  scale_level
count         52.000000    52.000000
mean           0.424500     0.252198
std            0.206691     0.223643
min            0.200000     0.000000
25%            0.200000     0.000000
50%            0.363000     0.205714
75%            0.624000     0.468929
max            0.750000     0.625714

## 4. Step 2: Scalar ê³„ì‚°í•˜ê¸° (ì •ê·œí™” í›„)

### ì´ì œ ì •ê·œí™”ëœ ê°’ìœ¼ë¡œ Scalarë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤

**Scalar = scale_level Ã— scale_importance**

**ì •ê·œí™” ì „ vs í›„ ë¹„êµ:**

| ëŠ¥ë ¥ | ì •ê·œí™” ì „<br/>I Ã— L | ì •ê·œí™” í›„<br/>I Ã— L | 
|------|-----------------|-----------------|
| Written Comprehension | 3.75 Ã— 4.38 = **16.425** | 0.75 Ã— 0.626 = **0.469** |
| Fluency of Ideas | 3.25 Ã— 3.62 = **11.765** | 0.65 Ã— 0.517 = **0.338** |

**ê²°ë¡ :**
- **Scalarê°€ í´ìˆ˜ë¡** = ê·¸ ì§ì—…ì˜ í•µì‹¬ ëŠ¥ë ¥
- **Scalarê°€ ì‘ì„ìˆ˜ë¡** = ëœ ì¤‘ìš”í•œ ëŠ¥ë ¥

In [ ]:
# TODO: Scalarë¥¼ ê³„ì‚°í•˜ì„¸ìš” (ëŠ¥ë ¥ ê°€ì¤‘ì¹˜)
#
# íŒíŠ¸: Scalar = scale_level Ã— scale_importance
#
# ìƒˆ ì»¬ëŸ¼ëª…: scalar

# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”

In [574]:
# Scalar ìƒìœ„ ëŠ¥ë ¥ í™•ì¸
df[df['title'] == 'Software Developers'][
    ['ability', 'scale_importance', 'scale_level', 'scalar']
].nlargest(10, 'scalar')

                    ability  scale_importance  scale_level    scalar
5825  Written Comprehension             0.750     0.625714  0.469286
5824     Oral Comprehension             0.750     0.588571  0.441429
5826        Oral Expression             0.750     0.588571  0.441429
5831    Deductive Reasoning             0.750     0.571429  0.428571
5830    Problem Sensitivity             0.750     0.554286  0.415714
5864            Near Vision             0.750     0.535714  0.401786
5833   Information Ordering             0.724     0.554286  0.401303
5827     Written Expression             0.700     0.571429  0.400000
5832    Inductive Reasoning             0.700     0.554286  0.388000
5834   Category Flexibility             0.700     0.535714  0.375000

## 5. Step 3: AI ê°€ì¤‘ ì˜í–¥ë„ ê³„ì‚°í•˜ê¸°

### ê°€ì¤‘ ì˜í–¥ë„ë€?

**ê°€ì¤‘ ì˜í–¥ë„ = Scalar Ã— Beta**

**ì˜ë¯¸:**
- Scalar: ì´ ëŠ¥ë ¥ì´ ì§ì—…ì—ì„œ ì–¼ë§ˆë‚˜ ì¤‘ìš”í•œê°€? (ëŠ¥ë ¥ì˜ ê°€ì¤‘ì¹˜)
- Beta: ì´ ëŠ¥ë ¥ì„ AIê°€ ì–¼ë§ˆë‚˜ ì˜í•˜ëŠ”ê°€? (AI ì˜í–¥ë„)
- **ê°€ì¤‘ ì˜í–¥ë„**: AIê°€ **ì‹¤ì œë¡œ** ì´ ì§ì—…ì— ë¯¸ì¹˜ëŠ” ì˜í–¥

**í•µì‹¬ ì•„ì´ë””ì–´:**
```
ëŠ¥ë ¥ì´ ì¤‘ìš”í•´ë„ AIê°€ ëª»í•˜ë©´ â†’ ì˜í–¥ ì—†ìŒ
AIê°€ ì˜í•´ë„ ëŠ¥ë ¥ì´ ì•ˆ ì¤‘ìš”í•˜ë©´ â†’ ì˜í–¥ ì—†ìŒ
ë‘˜ ë‹¤ ë†’ì•„ì•¼ â†’ í° ì˜í–¥!
```

**êµ¬ì²´ì ì¸ ìƒí™©:**

| ëŠ¥ë ¥ | Scalar | Beta | ê°€ì¤‘ ì˜í–¥ë„ | í•´ì„ |
|------|----------|---------|-----------|------|
| Written Comprehension | 0.60 | 0.83 | **0.50** | ğŸ”¥ AIê°€ í° ì˜í–¥ |
| Manual Dexterity | 0.08 | 0.20 | **0.02** | âœ… AI ì˜í–¥ ì—†ìŒ |

In [ ]:
# TODO: ê°€ì¤‘ ì˜í–¥ë„ë¥¼ ê³„ì‚°í•˜ì„¸ìš”
#
# íŒíŠ¸: ê°€ì¤‘ ì˜í–¥ë„ = scalar Ã— beta
#
# ìƒˆ ì»¬ëŸ¼ëª…: wtd_element_impact

# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”

In [576]:
# AI ì˜í–¥ë„ê°€ ë†’ì€ ëŠ¥ë ¥ TOP 10
df[df['title'] == 'Software Developers'][
    ['ability', 'scalar', 'beta', 'wtd_element_impact']
].nlargest(10, 'wtd_element_impact')

                    ability    scalar      beta  wtd_element_impact
5824     Oral Comprehension  0.441429  0.905759            0.399828
5826        Oral Expression  0.441429  0.905759            0.399828
5825  Written Comprehension  0.469286  0.827225            0.388205
5831    Deductive Reasoning  0.428571  0.801047            0.343306
5833   Information Ordering  0.401303  0.848168            0.340372
5827     Written Expression  0.400000  0.848168            0.339267
5832    Inductive Reasoning  0.388000  0.785340            0.304712
5874     Speech Recognition  0.313857  0.952880            0.299068
5834   Category Flexibility  0.375000  0.759162            0.284686
5875         Speech Clarity  0.278571  0.926702            0.258153

---

## 6. Step 4: ì§ì—…ë³„ ì§‘ê³„ ë° AIOE ê¸°ë³¸ ì ìˆ˜ ê³„ì‚°

### ì´ì œ ëª¨ë“  ì¡°ê°ì„ í•©ì¹  ì‹œê°„ì…ë‹ˆë‹¤!

**ì§€ê¸ˆê¹Œì§€ ê³„ì‚°í•œ ê²ƒ:**
- âœ… Scalar (ê° ëŠ¥ë ¥ì˜ ê°€ì¤‘ì¹˜)
- âœ… ê°€ì¤‘ ì˜í–¥ë„ (AIê°€ ê° ëŠ¥ë ¥ì—ì„œ ë„ì™€ì¤„ ìˆ˜ ìˆëŠ” ë¹„ì¤‘)

**ì´ì œ í•  ì¼:**
- 52ê°œ ëŠ¥ë ¥ì„ ëª¨ë‘ í•©ì‚°í•´ì„œ ì§ì—…ë³„ AIOE ê³„ì‚°

### AIOE ê³µì‹

$$
AIOE_j = \frac{\sum_{a=1}^{52} (L_{ja} \times I_{ja} \times \beta_a)}{\sum_{a=1}^{52} (L_{ja} \times I_{ja})}
$$

**ê³µì‹ ë¶„í•´:**
- $\sum_{a=1}^{52} (L_{ja} \times I_{ja} \times \beta_a)$ = **ë¶„ì**: 52ê°œ ëŠ¥ë ¥ì˜ ê°€ì¤‘ ì˜í–¥ë„ í•© (AIê°€ ë„ì™€ì¤„ ìˆ˜ ìˆëŠ” ì´ ë¹„ì¤‘)
- $\sum_{a=1}^{52} (L_{ja} \times I_{ja})$ = **ë¶„ëª¨**: 52ê°œ ëŠ¥ë ¥ì˜ Scalar í•© (ì „ì²´ ëŠ¥ë ¥ ê°€ì¤‘ì¹˜ = 100%)
- **ê²°ê³¼**: AIê°€ ë„ì™€ì¤„ ìˆ˜ ìˆëŠ” ë¹„ì¤‘ / ì „ì²´ ë¹„ì¤‘ = AI ë„ì›€ ë¹„ìœ¨

**ì‰½ê²Œ ë§í•˜ë©´:**
```python
AIOE = sum(ê°€ì¤‘ ì˜í–¥ë„) / sum(Scalar)
     = AIê°€ ë„ì™€ì¤„ ìˆ˜ ìˆëŠ” ì´ ë¹„ì¤‘ / ì „ì²´ ëŠ¥ë ¥ ê°€ì¤‘ì¹˜
     = AIê°€ ë„ì™€ì¤„ ìˆ˜ ìˆëŠ” ë¹„ìœ¨
```

In [ ]:
# TODO: ì§ì—…ë³„ë¡œ ì§‘ê³„í•˜ê³  AIOE ê¸°ë³¸ ì ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”
#
# íŒíŠ¸ 1: df.groupby(['soc_code', 'title']) ì‚¬ìš©
# íŒíŠ¸ 2: .agg()ë¡œ ì§‘ê³„ - wtd_element_impactëŠ” sum, scalarë„ sum, abilityëŠ” count
# íŒíŠ¸ 3: .reset_index()ë¡œ ì¸ë±ìŠ¤ ë¦¬ì…‹
# íŒíŠ¸ 4: ìƒˆ ì»¬ëŸ¼ëª…: total_weighted_impact, ability_base, n_abilities
#
# ë³€ìˆ˜ëª…: results_df

# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”

In [ ]:
# TODO: AIOE ê¸°ë³¸ ì ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”
#
# íŒíŠ¸: ability_base_impact = total_weighted_impact Ã· ability_base
#
# ìƒˆ ì»¬ëŸ¼ëª…: ability_base_impact

# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”

In [579]:
# Software Developers ê²°ê³¼ í™•ì¸
results_df[results_df['title'] == 'Software Developers'][
    ['title', 'total_weighted_impact', 'ability_base', 'ability_base_impact']
]

,title,total_weighted_impact,ability_base,ability_base_impact
112,Software Developers,5.413907,7.905303,0.684845

---

## 7. Step 5: í‘œì¤€ ì ìˆ˜(Z-score)ë¡œ ë³€í™˜í•˜ê¸°

### ì™œ Z-scoreë¡œ ë³€í™˜í•˜ë‚˜ìš”?

**í˜„ì¬ ë¬¸ì œ:**
- AIOE ê¸°ë³¸ ì ìˆ˜ëŠ” **ì ˆëŒ€ê°’** (ì˜ˆ: 0.685)
- ì´ ìˆ«ìë§Œ ë´ì„œëŠ” "ë†’ì€ê±´ê°€ ë‚®ì€ê±´ê°€?" íŒë‹¨í•˜ê¸° ì–´ë ¤ì›€

**í•´ê²°ì±…: Z-score ë³€í™˜**
- ê° ì ìˆ˜ë¥¼ **ìƒëŒ€ì  ìœ„ì¹˜**ë¡œ ë³€í™˜
- "ë‹¤ë¥¸ ì§ì—…ë“¤ê³¼ ë¹„êµí•´ì„œ ì–´ëŠ ì •ë„ì¸ê°€?"ë¥¼ ë³´ì—¬ì¤Œ

### 3ëª… í•™ìƒì˜ ì‹œí—˜ ì ìˆ˜ë¥¼ ìƒê°í•´ë´…ì‹œë‹¤

**ì ìˆ˜:**
- ì² ìˆ˜: 70ì 
- ì˜í¬: 85ì   
- ë¯¼ìˆ˜: 90ì 
- **í‰ê· **: 81.67ì 

**ì ˆëŒ€ ì ìˆ˜ë§Œ ë³´ë©´:**
- ì² ìˆ˜ê°€ ì–¼ë§ˆë‚˜ ë’¤ì²˜ì¡ŒëŠ”ì§€ ì• ë§¤í•¨

**Z-scoreë¡œ ë³€í™˜í•˜ë©´:**
- ì² ìˆ˜: -1.2 (í‰ê· ë³´ë‹¤ ë‚®ìŒ)
- ì˜í¬: +0.3 (í‰ê· ë³´ë‹¤ ì•½ê°„ ë†’ìŒ)
- ë¯¼ìˆ˜: +0.9 (í‰ê· ë³´ë‹¤ ë†’ìŒ)

â†’ **ìƒëŒ€ì  ìœ„ì¹˜ê°€ ëª…í™•í•´ì§‘ë‹ˆë‹¤!**

### Z-score ê³µì‹

**Z-score = (ë‚´ ì ìˆ˜ - í‰ê· ) / í‘œì¤€í¸ì°¨**

**í•´ì„:**
- **Z = 0**: í‰ê·  (ì¤‘ê°„)
- **Z > 0**: í‰ê· ë³´ë‹¤ ë†’ìŒ
- **Z < 0**: í‰ê· ë³´ë‹¤ ë‚®ìŒ
- **Z > 1**: ìƒìœ„ 16% (ë†’ìŒ)
- **Z > 2**: ìƒìœ„ 2.5% (ë§¤ìš° ë†’ìŒ)

In [ ]:
# TODO: Z-scoreë¡œ í‘œì¤€í™”í•˜ê³  ìˆœìœ„ë¥¼ ê³„ì‚°í•˜ì„¸ìš”
#
# íŒíŠ¸ 1: stats.zscore()ë¥¼ ability_base_impactì— ì ìš©
# íŒíŠ¸ 2: .rank(ascending=False, method='min')ë¡œ ìˆœìœ„ ê³„ì‚°
# íŒíŠ¸ 3: .astype(int)ë¡œ ì •ìˆ˜í˜• ë³€í™˜
#
# ìƒˆ ì»¬ëŸ¼ëª…: aioe, rank

# ì—¬ê¸°ì— ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”

In [581]:
results_df[['title', 'ability_base_impact', 'aioe', 'rank']].tail()

,title,ability_base_impact,aioe,rank
889,Gas Compressor and Gas Pumping Station Operators,0.511348,-0.975348,685
890,"Pump Operators, Except Wellhead Pumpers",0.506942,-1.027508,704
891,Wellhead Pumpers,0.491941,-1.205123,763
892,Refuse and Recyclable Material Collectors,0.467224,-1.497766,846
893,"Tank Car, Truck, and Ship Loaders",0.465940,-1.512960,850

## 8. ê²°ê³¼ ì €ì¥

In [587]:
# ì§ì—…ë³„ AIOE ê³„ì‚°
results_df = df.groupby(['soc_code', 'title']).agg(
    total_weighted_impact=('wtd_element_impact', 'sum'),
    ability_base=('scalar', 'sum'),
    n_abilities=('ability', 'count')
).reset_index()

results_df['ability_base_impact'] = results_df['total_weighted_impact'] / results_df['ability_base']
results_df['aioe'] = stats.zscore(results_df['ability_base_impact'])
results_df['rank'] = results_df['aioe'].rank(ascending=False, method='min').astype(int)

In [ ]:
results_df.head()

,soc_code,title,total_weighted_impact,ability_base,n_abilities,ability_base_impact,aioe,rank
0,11-1011.00,Chief Executives,7.771722,11.088054,52,0.700909,1.268992,106
1,11-1011.03,Chief Sustainability Officers,6.363911,8.992497,52,0.707691,1.349286,69
2,11-1021.00,General and Operations Managers,5.729594,8.417660,52,0.680664,1.029288,199
3,11-2011.00,Advertising and Promotions Managers,6.281507,9.100466,52,0.690240,1.142671,156
4,11-2021.00,Marketing Managers,6.247070,9.065697,52,0.689089,1.129040,161

---

## 9. ìµœì¢… ìš”ì•½

### ì´ë²ˆ ë…¸íŠ¸ë¶ì—ì„œ ë°°ìš´ ê²ƒ

**AIOE ê³„ì‚° ê³¼ì • (5ë‹¨ê³„):**

1. **ì •ê·œí™”** - Importance(1-5), Level(0-7)ì„ 0-1 ë²”ìœ„ë¡œ ë³€í™˜
2. **Scalar ê³„ì‚°** - Level Ã— Importance (ëŠ¥ë ¥ì˜ ê°€ì¤‘ì¹˜)
3. **ê°€ì¤‘ ì˜í–¥ë„ ê³„ì‚°** - Scalar Ã— Beta (AIì˜ ì‹¤ì œ ì˜í–¥ë„)
4. **ì§ì—…ë³„ ì§‘ê³„** - 52ê°œ ëŠ¥ë ¥ì„ í•©ì‚°í•˜ì—¬ ì§ì—…ë‹¹ 1ê°œ ì ìˆ˜ ì‚°ì¶œ
5. **Z-score ë³€í™˜** - ìƒëŒ€ì  ìœ„ì¹˜ë¥¼ ì•Œ ìˆ˜ ìˆë„ë¡ í‘œì¤€í™”

### í•µì‹¬ ê³µì‹

$$
AIOE_j = \frac{\sum_{a=1}^{52} (Level_{ja} \times Importance_{ja} \times Beta_a)}{\sum_{a=1}^{52} (Level_{ja} \times Importance_{ja})}
$$

**í•´ì„:** ì „ì²´ ëŠ¥ë ¥ ì¤‘ AIê°€ ë„ì™€ì¤„ ìˆ˜ ìˆëŠ” ëŠ¥ë ¥ì˜ ë¹„ìœ¨

### ê²°ê³¼ ë°ì´í„°

**ì €ì¥ ìœ„ì¹˜:** `../datas/processed/aioe_scores.csv`

**ë°ì´í„° êµ¬ì¡°:**
- 894ê°œ ì§ì—… Ã— 7ê°œ ì»¬ëŸ¼
- ì£¼ìš” ì»¬ëŸ¼: `SOC_Code`, `Title`, `ability_base_impact`, `aioe`, `rank`

**AIOE ë²”ìœ„:**
- ìµœê³ : +1.79 (Z-score)
- ìµœì €: -1.97 (Z-score)
- í‰ê· : 0.00 (Z-score íŠ¹ì„±)

### ë‹¤ìŒ ë‹¨ê³„

**03_AIOE_EDA.ipynb**ì—ì„œ:
- AIOE ì ìˆ˜ ë¶„í¬ ì‹œê°í™”
- ì§ì—…êµ°ë³„ ë¹„êµ ë¶„ì„
- Software Developers ì‚¬ë¡€ ë¶„ì„
- ìƒê´€ê´€ê³„ íƒìƒ‰